<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="initial-scale=1.0" />
{% block title %}
    <title>Uptime statistics</title>
{% endblock %}
{% block preload %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/date_picker.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
</head>
<body class="d-flex flex-column">
    {%  include '_navbar.html' %}
    <div class="container flex-grow-1">
        <header class="row mt-3 mb-4">
            {% block header %}
                Uptime metrics
            {% endblock %}
        </header>
        {% block content %}{% endblock %}
    </div>
    {%  include '_footer.html' %}
</body>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</html>
