{% extends 'base.html' %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block header %}
    <h1 class="text-center">
        {% if selected_range == 'past_day' %}
            Last day
        {% elif selected_range == 'past_month' %}
            Last month
        {% elif selected_range == 'past_year' %}
            Last year
        {% elif selected_range == 'select_date' %}
            {% if not request.args.get("date_from") %}
                Select dates
            {% else %}
                {{ request.args.get("date_from") }} to {{ request.args.get("date_to") }}
            {% endif %}
        {% endif %}
    </h1>
{% endblock %}

{% block content %}
    {% if selected_range == 'select_date' %}
        <div class="row mb-5">
            <div class="col-12">
                <div class="accordion" id="accordion-dates">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-dates" aria-expanded="false"
                                    aria-controls="collapse{{ service_id }}">
                                    Select date range
                            </button>
                        </h2>
                        {% if not request.args.get("date_from") %}
                            {% set cls='show' %}
                        {% else %}
                            {% set cls='collapse' %}
                        {% endif %}
                        <div id="collapse-dates" class="accordion-collapse {{ cls }}">
                            <div class="accordion-body">
                                <form action="{{ url_for('dashboard', selected_range=selected_range) }}">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <label for="datepicker_from">From</label>
                                            <input class="form-control datepicker_date" type="date" id="datepicker_from" name="date_from"
                                                   value="{{ request.args.get("date_from") }}" required>
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <label for="datepicker_to">To</label>
                                            <input class="form-control datepicker_date" type="date" id="datepicker_to" name="date_to"
                                                   value="{{ request.args.get("date_to") }}" required>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if data %}
    {% for service_id,service_data in data.items() %}
    <div class="row mb-5">
        <div class="col-12">
            <div class="row mb-2">
                <div class="col-12 col-sm-2">
                    <h3>{{ service_data["display_name"] }}</h3>
                </div>
                <div class="col-12 col-sm-5">
                    <h5 class="text-bg-success p-2">Uptime: {{ "%.5f"|format(service_data["uptime_data"]["OK"]) }}</h5>
                </div>
                <div class="col-12 col-sm-5">
                    <h5 class="text-bg-danger p-2">Downtime: {{ "%.5f"|format(service_data["uptime_data"]["CRITICAL"]) }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for host, host_data in service_data["status_data"].items() %}
                        <div class="accordion" id="accordion{{ service_id }}">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-{{ service_id }}-{{ host }}" aria-expanded="false"
                                            aria-controls="collapse-{{ service_id }}-{{ host }}">
                                        Events of {{ host }}
                                    </button>
                                </h2>
                                <div id="collapse-{{ service_id }}-{{ host }}" class="accordion-collapse collapse">
                                    <div class="accordion-body">
                                        <table class="table">
                                            <thead class="table-dark sticky-top">
                                                <tr>
                                                    <th>Status</th>
                                                    <th>Host</th>
                                                    <th>Timestamp</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in host_data %}
                                                    <tr>
                                                        {% if item["status"] == "OK" %}
                                                            {% set cls='success' %}
                                                        {% elif item["status"] == "WARNING" %}
                                                            {% set cls='warning' %}
                                                        {% else %}
                                                            {% set cls='danger' %}
                                                        {% endif %}
                                                        <td class="text-bg-{{ cls }}">{{ item["status"] }}</td>
                                                        <td>{{ item["host"] }}</td>
                                                        <td>{{ item["datetime"] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            <tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <div class="row mb-3">
            <p class="text-muted">No data to show at the moment</p>
        </div>
    {% endif %}
{% endblock %}